<html lang="en">
  <head>
        <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

        <title>Collins Prestamo App</title>

        <link href="{{url_for('static', filename='css/login.css')}}" rel="stylesheet">

  </head>
  <body class="text-center">
        <form class="form-signin" action="/login" method="POST">
            <img class="mb-5" src="{{url_for('static', filename='img/collins_logo.svg')}}" alt="" width="400" height="100">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <br><br>
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <label for="" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
            <label for="" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
            <div class="checkbox mb-3">
                <label>
                <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2023</p>
        </form>
    </body>
</html>