{% extends 'layout.html' %}

{% block body %}
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                <p style="color: white;"><b>Datos de Prestamos</b></p>
            </div>
            <div class="card">
                <h5 class="card-title"></h5>
                <p class="card-text">
                    <table class="table table-striped table-bordered table-sm">
                        <thead>
                            <tr>
                                <td>Numero de Empleado</td>
                                <td>Nombre</td>
                                <td>Accesorio</td>
                                <td>Nombre/Numero de Serie</td>
                                <td>Fecha de Retorno</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for contact in contacts %}
                                    <tr>
                                        <td>{{ contact.1 }}</td>
                                        <td>{{ contact.2 }}</td>
                                        <td>{{ contact.3 }}</td>
                                        <td>{{ contact.4 }}</td>
                                        <td>{{ contact.5 }}</td>
                                    </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </p>
            </div>
        </div>
    </div>
{% endblock %}